:root {
  --cta-text: hsl(356, 100%, 66%);
  --cta-bckg-hover: hsl(355, 100%, 74%);
  --heading-drkblue: hsl(208, 49%, 24%);
  --text-wht: hsl(0, 0%, 100%);
  --footer-text: hsl(240, 2%, 79%);
  --body-copy: hsl(207, 13%, 34%);
  --footer-bckg: hsl(240, 10%, 16%);
  --gradient-vlred: hsl(13, 100%, 72%);
  --gradient-lred: hsl(353, 100%, 62%);
  --gradient-vdgreyblue: hsl(237, 17%, 21%);
  --gradient-vddblue: hsl(237, 23%, 32%);

  --ff-body: 'Ubuntu', sans-serif;
  --ff-header: 'Overpass', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: var(--ff-body);
  font-size: 1rem;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

h1, h2, h3 {
  font-family: var(--ff-header);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-weight: 400;
}

.sec-1-title {
  color: var(--heading-drkblue);
  font-size: 1.75rem;
}

.sec-2-title {
  color: var(--text-wht);
  font-size: 2rem;
}

h3 {
  color: var(--heading-drkblue);
  font-size: 1.5rem;
  font-weight: 500;
}

.home-top {
  background-image: linear-gradient(225deg, var(--gradient-lred), var(--gradient-vlred));
  border-bottom-left-radius: 82px;
  color: var(--text-wht);
  padding-bottom: 6em;
}

.sec-2 {
  background-image: linear-gradient(var(--gradient-vdgreyblue), var(--gradient-vddblue));
  border-bottom-left-radius: 80px;
  border-top-right-radius: 90px;
  color: var(--text-wht);
  padding-bottom: 6em;
}

.footer {
  background-color: var(--footer-bckg);
  border-top-right-radius: 90px;
}